.nav{
    background-color: #560027;
    overflow: hidden;
    flex-wrap: wrap;
}

.nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
}

.nav a.active{
    background-color: #4CAF50;
    color: white;
}

.nav input.SearchTxt{
    padding: 8px 8px;
    float: right;
    flex-direction: row-reverse;
}

.nav input.SearchBtn{
    /* padding: 8px 8px; */
    float: right;
}

/* ------------------------------------------------------ */

.loginContent{
    margin: auto;
    width:40%;
    padding: 10%;
}

.emailTxt{
    width: 100%;
    border-radius: 4px;
    height: 20px;
}

.passwordTxt{
    width: 100%;
    border-radius: 4px;
    height: 20px;
}

.submitBtn{
    border-radius: 4px;
    height: 30px;
}

/* --------------------------------------------------------------- */

.sectioncolumn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.divcolumns{
    width: auto;
}
.image{
    margin: 5px;
    display: flex;
    width: inherit;
    height: 700px;
    border-radius: 10px;
}